<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Dealership App</title>

  <!-- React build CSS (hashed file from your build output) -->
  <link rel="stylesheet" href="/static/css/main.85000dd2.css" />
</head>
<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>

  <!-- React mounts here -->
  <div id="root"></div>

  <!-- React build JS (hashed file from your build output) -->
  <script src="/static/js/main.195c7873.js"></script>
</body>
</html>